.message {
  flex-grow: 2;
  width: 100%;
}
.scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-width: calc(100% + 25px);
  max-height: 500px;
  padding: 20px 10px;
}
.scroll-view {
  overflow: hidden;
}
