.actions {
  flex-grow: 0;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
}
.actions input {
  padding: 10px;
}
.actions * {
  height: 100%;
}
.actions input {
  flex-grow: 6;
}
.actions button {
  flex-grow: 1;
  font-weight: bold;
}
